
<header>
  <h1>Otsikko</h1>
</header>

<p>
  <%= link_to "Katso kirjat", books_path %>

<!-- books_path tulee config/routes.rb tiedoston rivistä
       resources :books

     kaikki *_path loppuiset ovat nimettyjä polkuja

     esimerkkinä: root_path

     terminaalissa voi loitsia
     "rails routes" <-- joka listaa kaikki reitit
-->
</p>


<p>Kappale tekstiä jajaja</p>

<p>
  Toinen kappale tekstiä, aivan mahtavaa!
</p>

