/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* 
 * sivusto: Web Design in 4 minutes
 * sinun tiedosto:
 *   app/assets/stylesheets/application.css 
 *
 */
html {
  font-size: 12px;
}
body {
  margin: 0 auto;
  max-width: 800px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #566b78;
}

h1 {
  margin-top: 1rem;
  padding-top: 1rem;
}
h1, h2, strong {
  color: #333;
}
header {
  background-color: #263d36;
  background-image: url("tausta.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 1rem 2rem;
  text-align: center;
}
header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}
